@font-face {
	font-family: 'popcorn';
	src: url('font/popcorn.ttf');
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-family: 'popcorn';
	font-size: 85px;
	color: #b7282f;
}

p {
	font-family: 'Bree Serif', serif;
	font-size: 18px;
	color: white;
	margin-left: 10px;
}

h2 {
	font-family: 'Bree Serif', serif;
	font-size: 35px;
	color: white;
	margin-left: 10px;
}

.modal1 {
	background-color: #b7282f;
}

#adminbar {
	background-color: black;
	color: white;
	font-weight: 600px;
	display: flex;
/*	width: 600px;*/
	height: 30px;
	text-align: center;
	padding-top: 5px;
	flex: 1
}

.admintools {
	flex: 1;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

.button {
	border-style: dotted;
	border-color: white;
	color: white;
	font-weight: 700;
	font-size: 18px;
	margin-right: 10px;
	background-color: #b7282f;
	padding: 20px;
	font-family: 'Bree Serif', serif;
}

.buttons {
	text-align: center;
	padding: 10px;
}

#popcornkernel {
	background-color: white;
	height: 50px;
	width: 50px;
}

#unpoppedkernel {
	background-color: yellow;
	height: 50px;
	width: 50px;
}

#bucket {
	background-color: red;
	height: 80px;
	width: 80px;
}

#canvas-container {
	text-align: center;
}

#mycanvas {
	background-color: gray;
/*	display: inline;*/
}


/*/////////Modal styles////////*/

/*.modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transform: scale(1.1);
      transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 1rem 1.5rem;
      width: 24rem;
      border-radius: 0.5rem;
}
.close-button {
      float: right;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 0.25rem;
      background-color: lightgray;
}
.close-button:hover {
      background-color: darkgray;
}
.show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}*/