@font-face {
	font-family: 'popcorn';
	src: url('font/popcorn.ttf');
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-family: 'popcorn';
	font-size: 85px;
	color: #b7282f;
}

p {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	color: white;
	margin-left: 10px;
}

h2 {
	font-family: 'Bree Serif', serif;
	font-size: 35px;
	color: white;
	margin-left: 10px;
}

.modal1 {
	background-color: #b7282f;
}

#adminbar {
	background-color: black;
	color: white;
	font-weight: 600px;
	display: flex;
/*	width: 600px;*/
	height: 30px;
	text-align: center;
	padding-top: 5px;
	flex: 1
}

.admintools {
	flex: 1;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

.button {
	border-style: none;
	border-color: white;
	color: #b7282f;
	font-weight: 700;
	font-size: 20px;
	margin-right: 10px;
	background-color: white;
	padding: 20px;
	font-family: 'Bree Serif', serif;
}

#whosTurn {
	padding: 20px;
	margin-top: 10px;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	color: white;
}

.buttons {
	text-align: center;
	padding: 10px;
}

#popcornkernel {
	background-color: white;
	height: 50px;
	width: 50px;
}

#unpoppedkernel {
	background-color: yellow;
	height: 50px;
	width: 50px;
}

#bucket {
	background-color: red;
	height: 80px;
	width: 80px;
}

#canvas-container {
	text-align: center;
}

#mycanvas {
	background-color: gray;
/*	display: inline;*/
}